/* Admin page styles */
div.wrap ul.forum_settings li {
	/*margin-top: 10px;*/
}
div.wrap ul.forum_settings li label {
	display: block;
	float: left;
	width: 100px;
	/*font-weight: bold;*/
	text-align: bottom;
	margin-top: 6px;
}
div.wrap ul.category_settings li {
	padding-bottom: 5px;
	border-bottom: 1px solid #dedede;
	width: 500px;
}
div.wrap ul.category_settings li input {
	margin-right: 15px;
	margin-left: 10px;
}

/* Post page styles */
p.ipb_discussion {
	width: 100%;
	margin: auto;
	text-align: center;
	font-weight: bold;
	padding: 15px;
	/*border: 4px solid #333;*/
}
p.ipb_discussion:hover {
	border-color: #00F;
}
p.ipb_discussion a {
	color: #00F;
}

div#ipb_comments {
	width: inherit;
}
div#ipb_comments ul li {
	margin-bottom: 10px;
	list-style: none;
}

div#ipb_comments ul li .ipb_comment_meta {
	font-size: 0.8em;
}